# Build files and dependencies
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.packages
.pub-cache/
*.lock
!pubspec.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.iml

# Platform-specific
ios/Pods/
ios/Podfile.lock
macos/Pods/
macos/Podfile.lock
android/.gradle/
android/local.properties

# Environment
.env
.env.local
